/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}


body {
background: #f3f3f3;
}

a {
	text-decoration: none;
	color: #4d4d4d;
}

a:hover {
	color: #b3b3b3;
}

span {
font-family: 'PT Sans', sans-serif;
color: #a6a6a6;
}

h1,
h2,
h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  color: #4d4d4d;
}

h3{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #4d4d4d;
}

p{
	font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #4d4d4d;
}

li{
  list-style: none;
}

.main-nav{
	font-weight: 700;
  color: #4d4d4d;
}

.main-content,
h2{
	font-size: 1.17em;
}

.contact-info h3{
	font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  color: #4d4d4d;
}
.contact-info p{
	font-size: 16px;
	color:#a6a6a6;
}

.contact-info ul {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
  color:#a6a6a6;
}

.value {
font-weight: 700;
color:#808080;
}

/* =================================
  NAVIGATION
==================================== */

.main-header,
.my-name,
.nav {
	display: flex;
	flex-direction: column;
	align-self: center;
	font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  color: #4d4d4d;
	text-align: center;
}
.main-header h1 {
	margin-bottom: 0.5em;
}
.nav ul {
	background-color: green;
}
.nav li {
	width: 310px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 11px;
	background-color: #f8f8f8;
}
